.skin-purple .main-header .navbar{
	background-color: #ecf0f5;
}
.skin-purple .main-header .navbar .sidebar-toggle{
	color: #333;
}
.skin-purple-custom{
	background-color: #555299;
}
.skin-purple .main-header .navbar .nav>li>a{
	color: #333;
}
.skin-purple .main-header .navbar .nav>li:hover,
.skin-purple .main-header .navbar .nav>li>a:hover, .skin-purple .main-header .navbar .nav>li>a:active, .skin-purple .main-header .navbar .nav>li>a:focus, .skin-purple .main-header .navbar .nav .open>a, .skin-purple .main-header .navbar .nav .open>a:hover, .skin-purple .main-header .navbar .nav .open>a:focus, .skin-purple .main-header .navbar .nav>.active>a{
	background-color: #555299;
}